<div id="login-form">
    <form action="login" method="post">
        Username: <input type="text" name ="username" id=""><br>
        Password: <input type="password" name="password" id=""><br>
        <button type="submit">login</button>
    </form>
</div>